@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Mooli&family=Playfair+Display&family=Young+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'EB Garamond', serif;
}

.spinner-wrapper{
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.spinner-grow{
    height: 60px;
    width: 60px;

}

#nav{
    background-color: #403f3e;
    position: relative;
}

#nav-drop{
    background-color: #403f3e;
    position: absolute;
    /* top: 0;
    left: 0; */
    /* width: 100%;
    height: 100%; */
    border-bottom: 3px solid cadetblue;
    border-radius: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    transform: scale(1.175) translateY(10px);
    opacity: 1;
    transition: .5s;
}

#nav-drop a:hover{
    transform: scale(1) translateY(10px);
    background-color: rgb(128, 99, 46);
    opacity: 1;
}

#nav-2{
    position: absolute;
    right: 1100px;
    z-index: -5px;
}

#nav a{
    position: relative;
    text-decoration: none;
    margin-left: 10px;
    color: rgb(226, 214, 214);
    transition: .5s;
    
}

#nav a:hover{
    color: rgb(241, 189, 84)
}

#nav a span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid cadetblue;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;
}

#nav a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;
}


#header{
    display: flex; 
    background-color: black;
    color: #a39586;
    padding: 10px;
}

#hd1{
    margin-left: 20px;
}

#hd2{
    margin-left: 700px;
}

.carousel-inner{
    width: 100%;
    height: 710px;
}


#faqs{
    border-left: 2px solid rgb(226, 214, 214);
    margin-left: 10px;

}

#line{
    border-top: 3px solid rgb(0, 0, 0);
    border-radius: 2px;
    
}

#c1,#c2,#c3,#c4,#c5{
    text-align: center;
    font-weight: 500;
    margin: 30px;
    
}

#span2{
    background-color: #f2f2be;
    animation: cards 2s 2s infinite;
    border-radius: 8px;
    padding: 5px;
}

#card-1 img{
    width: 100%;
    height: 200px;
}

#card-2 img{
    width: 100%;
    height: 200px;
}

#card-3 img{
    width: 100%;
    height: 200px;
}

#card-4 img{
    width: 100%;
    height: 200px;
}

#card-5 img{
    width: 100%;
    height: 200px;
}

#card-1,#card-2,#card-3{
    text-align: center;
}

.slide #card-4,#card-5{
    text-align: center;
}

#sold-out{
    animation: sold-out 0.2s 0.2s infinite;
}

#tag{
    text-align: center;
    opacity: 0.8;
}

#p-tag{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    color: rgb(156, 94, 18);
}

#logo{
    margin-left: 130px;
    height: 50px;
}

#ft1{
    background-image: url("pics/Footer\ BG.png");
    background-color: black;
}

#ft1 img{
    text-decoration: none;
    height: 70px;
    margin-top: -20px;
    margin-bottom: 20px;
}

#ft1 ul li a{
    text-decoration: none;
}

@keyframes sold-out{
    from{
        background-color: rgb(232, 138, 37);
    }

    to{
        background-color: red;
    }
}